body {
  margin: 0;
  padding: 0;
  /* transition: 2.5s all; */
  position: relative;
  background-color: #212f3c;
}
.navbar {
  box-shadow: rgb(0, 0, 0) 0 0 30px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn {
  transition: 1s all;
}
.todo-app {
  padding: 2rem 2rem;
}
.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.important {
  padding: 0 1rem 1rem 1rem;
}
.task-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.togglemode {
  padding-left: 5rem;
  display: flex;
  align-items: center;
}
.no-task {
  margin: auto;
  margin-top: 5rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #283747;
  transition: all 2.5s;
}
.task-count {
  font-weight: bolder;
  font-size: 1.3rem;
  padding: 0 1rem;
  transition: all 2.5s;
}

#navbarTogglerDemo02 {
  padding-right: 4rem;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .todo-app {
    padding: 1rem 2rem;
  }
  #addBtn {
    font-size: 0.75rem;
  }
  .input {
    height: 2rem;
  }
  .task-count {
    margin-top: -10px;
    font-size: 1rem;
  }
  #filterButtons {
    margin-top: -10px;
    margin-bottom: -8px;
    font-size: 0.75rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .searchInput {
    margin-bottom: -10px;
  }
  .firefly img {
    width: 1rem !important;
    bottom: -8px;
    right: -10px;
  }
  #navbarTogglerDemo02 {
    padding-right: 0;
    padding-top: 0.5rem;
  }
  .togglemode {
    padding: 0;
    justify-content: end;
    padding-top: 0.5rem;
  }
}
